.customerProfileBG{
    background-color: #fff;
    opacity: 1;
    background-image: radial-gradient(#a5b5c4 1.1px, #f7f7f7 1.1px);
    background-size: 22px 22px;
    border-radius: 5px;
    height: 95dvh;
}